table {
  border-collapse: collapse;
  border: solid black 4px;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: solid black 2px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #1ee9e9;
}

tr:hover {
  background-color: coral;
}

.loader {
  position: fixed;
  top: 35%;
  left: 45%;
  bottom: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  display: none;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#id01{
  display: none;
}

@media print {
 .hide{
    display: none !important;
  }
}